<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<h1>Ridiv Technologies Assignment for Python Django Developer Intern Role</h1>
<h2>Submitted By: Uday Vikram Singh</h2>

<h2>Guide/Instructions</h2>
<h3>1. Go to 'localhost/invoices/' for GET and POST HTTP methods for the invoice models.</h3>
<h3>2. Go to 'localhost/invoices/int:pk' for PUT and DELETE HTTP methods for the invoice models.</h3>
<h3>3.  Go to 'localhost/invoice-details/' for invoice_details in the payload and create the associated invoice details too.</h3>

</body>
</html>